body{
    font-family: "Roboto";
}

#top-nav{
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75%;
    background-color: rgb(196, 8, 8);
    margin: 0 auto;
    padding: 2px;
}

#top-nav ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    font-weight: 500;
}

#main-body{
    width: 1330px;
    height: 900px;
    margin: 10px auto;
    background-color: blueviolet;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

#real-body{
    width: 80%;
    height: 98%;
    color: white;
    
}

#real-body p{
    padding: 5px;
    text-align: left;
}

#real-body h2{
    width: 90%;
    text-align: center;
    color: white;
}

#details ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: white;
    font-size: 16px;
    margin-top: 0px;
}

#side-bar{
    width: 20%;
    height: 98%;
    background-color: #06e791;
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#side-bar img{
    width: 165px;
    height: 95px;
}

#side-bar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    gap: 10px;
}

#footer{
    width: 1330px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    color: azure;
    margin: 25px auto 0 auto;
    padding: 5px;
}

#footer ul{
    list-style: none;
    gap: 10px;
}

